@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
:root{
    --bg-site: #0a0a0a;
    --bg-box: #262626;
    --title-color: #f6f6f6;
    --text-color: #a1a1a1;
    --main-red: #ba0000;
}
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100%;
    position: relative;
    background: var(--bg-site);
}
::-webkit-scrollbar{
    width: 11px;
    background: #121212;
}
::-webkit-scrollbar-thumb{
    width: 100%;
    border-radius: 100px;
    box-shadow: 0 0 12px 2px rgb(0, 0, 0, .6);
    background: var(--bg-box);
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 15px rgb(0, 0, 0, .8);
    z-index: 1000;
}
header .container-nav-top{
    width: 100%;
    background: var(--bg-box);
}
header .center-nav-top{
    width: 90%;
    max-width: 1200px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

header .center-nav-top .logo{
    width: 152px;
}
header .center-nav-top  .logo img.logo-max{
    width: 100%;
}
header .center-nav-top  .logo img.logo-min{
    display: none;
}
header .center-nav-top  form{
    width: 70%; height: 28px;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: white;
    box-shadow: 0 2px 0 rgb(0, 0, 0);
}
header .center-nav-top  form input{
    width: 100%; height: 100%;
    padding-left: 10px;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    color: black;
    outline: none;
    background: none;

}
header .center-nav-top  form input::-webkit-search-cancel-button{
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
}
header .center-nav-top  form button{
    margin-right: 10px;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    background: none;
}
header .center-nav-top i.menu{
    display: none;
}



header .container-nav-bottom{
    width: 100%; height: 30px;
    /* position: relative; */
    background: var(--main-red);
    z-index: 99;
}
.container-nav-bottom .center-nav-bottom{
    width: 90%; height: 100%;
    margin: 0 auto;
}
.center-nav-bottom nav{
    height: 100%;
}
.center-nav-bottom nav ul{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
.center-nav-bottom nav ul li.active a{
    color: var(--title-color);
    background: var(--bg-box);
}
.center-nav-bottom nav ul a{
    height: 100%;
    padding: 0 13px;
    display: flex;
    align-items: center;
    font-size: 1.56rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--bg-box);
    transition: .2s;
}
.center-nav-bottom i.arrow-down{
    margin-right: 3px;
    font-size: 1.47rem;
}
.center-nav-bottom i.add-film{
    margin-left: 3px;
}
.center-nav-bottom nav ul a:hover{
    color: var(--title-color);
    background: var(--bg-box);
    transition: .2s;
}

footer{
    width: 100%;
    margin-top: 100px;
    padding: 50px;
    background: var(--bg-box);
    box-shadow: 0 -4px 10 rgb(0, 0, 0, .8);
}
footer .center{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .center .logo{
    width: 140px;
}
footer .center .logo img{
    width: 100%;
}
footer .center .copyright p.brand{
    margin-bottom: 5px;
    font-size: 1.45rem;
    text-align: center;
    color: var(--title-color);
}
footer .center .copyright p.copyright{
    font-size: 1.33rem;
    text-align: center;
    color: var(--text-color);
}
footer .center .pages ul li{
    margin: 2px auto;
    list-style: none;
}
footer .center .pages a{
    width: 100%;
    display: inline-block;
    padding: 2px 3px;
    font-size: 1.36rem;
    text-align: center;
    color: var(--title-color);
}

@media (max-width: 955px) {
    html{
        font-size: 52%;
    }
}
@media (max-width: 680px) {
    header .center-nav-top{
        position: relative;
    }
    header .center-nav-top .logo{
        width: 50px; height: 98%;
    }
    header .center-nav-top  .logo img.logo-max{
        display: none;
    }
    header .center-nav-top  .logo img.logo-min{
        width: 100%;

        display: block;
    }
    header .center-nav-top i.menu{
        display: block;
        font-size: 3.8rem;
        cursor: pointer;
        color: var(--title-color);
    }
    header .center-nav-top  form{
        height: 25px;
    }
    header .container-nav-bottom{
        height: auto;
        position: absolute;
        top: 100%;
    }

    header .container-nav-bottom .center-nav-bottom{
        width: 100%;
        display: block;
        overflow: hidden;
    }
    .center-nav-bottom nav ul{
        width: 100%; height: 0;
        display: block;
        overflow: hidden;
        transition: .2s;
    }
    .center-nav-bottom nav ul li{
        width: 100%;
    }
    .center-nav-bottom nav ul a{
        width: 100%;
        display: block;
        padding: 10px 0;
        font-size: 2.5rem;
        text-align: center;
    }
    .center-nav-bottom nav ul li.active a{
        color: var(--title-color);
        background: var(--main-red);
    }
    .center-nav-bottom nav ul a:hover{
        color: var(--title-color);
        background: var(--main-red);
    }
    .center-nav-bottom nav ul a i.arrow-down{
        font-size: 2.8rem;
    }
    .center-nav-bottom nav ul.active{
        height: 230px;
        transition: .2s;
    }
    footer .center{
        width: 90%;
        margin: 0 auto;
        display: block;
        flex-direction: column-reverse;
        align-items: center;
    }
    footer .center div{
        margin-bottom: 20px;
    }
    footer .center .logo{
        margin: 0 auto;
        margin-bottom: 20px;
    }
}