section.banners{
    width: 100%;
    margin-bottom: 35px;
    position: relative;
    box-shadow: 0 10px 17px rgb(0, 0, 0);
}
section.banners .wrapper{
    width: 100%;
    overflow: hidden;
}
section.banners button.left,
section.banners  button.right{
    padding: 0 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    text-align: center;
    cursor: pointer;
    background: none;
    z-index: 100;
}
section.banners  button.left{
    left: 0;
}
section.banners button.right{
    right: 0;
}
section.banners button.left i,
section.banners  button.right i{
    font-size: 5.6rem;
    text-shadow: 5px 2px 0 black;
    color: rgba(186, 0, 0, .83);
}
section.banners button.left i{
    text-shadow: -5px 2px 0 black;
}
section.banners .wrapper .container-banners{
    display: flex;
    gap: 30px;
}
.banners .wrapper .container-banners .box-banner{
    width: 100%;
    position: relative;
    flex-shrink: 0;
}
.banners .wrapper .container-banners .box-banner img.banner{
    width: 100%;
    filter: opacity(86%);
}



.banners .wrapper .container-banners .box-banner .box-movie{
    width: 90%; height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    inset: 0 0 0 0;
    right: 15px;
    z-index: 99;
}
.container-banners .box-banner .box-movie .container-infos{
    height: 96%;
    margin-right: 16px;
    /* padding: 3% 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}
.container-banners .box-banner .box-movie .container-infos h2{
    margin-top: 15px;
    line-height: 88%;
    font-size: max(23px, 2.6vw);
    text-align: right;
    text-shadow: 3px 3px 0 black;
    color: var(--title-color);
}

.container-banners .box-banner .box-movie .container-infos .box-info{
    margin-bottom: 12px;
    padding: 10px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 7px;
    border: 1px solid white;
    background: rgba(179, 179, 179, .08);
    backdrop-filter: blur(5px);
}
.container-banners .box-banner .box-movie .container-infos .box-info h4{
    margin-bottom: 6px;
    font-size: 2.4rem;
    text-shadow: 2px 2px 0 black;
    color: var(--title-color);
}
.box-banner .box-movie .container-infos .box-info  span{
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--title-color);
}
.box-banner .box-movie .container-infos .box-info  i.star{
    margin-right: 3px;
    font-size: 1.87rem;
    color: #ffc800;
}
.box-banner .box-movie .container-infos .box-info .box-btns{
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    gap: 18px;
}
.box-banner .box-movie .container-infos .box-info a{
    padding: 3px 13px;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: 4px;
}
.box-banner .box-movie .container-infos .box-info a.avaliar{
    color: #0088ff;
    border: 3px solid #0088ff00;
    background: rgb(78, 78, 78, .8);
    box-shadow: 1px 1px 0 #0088ff;
    transition: .2s;
}
.box-banner .box-movie .container-infos .box-info a.avaliar:hover{
    border: 3px solid #0088ff;
    background: transparent;
    transition: .2s;
}
.box-banner .box-movie .container-infos .box-info a.conhecer{
    color: var(--bg-site);
    border: 3px solid var(--main-red);
    background: var(--main-red);
    box-shadow: 2px 2px 0 var(--bg-site);
    transition: .2s;
}
.box-banner .box-movie .container-infos .box-info a.conhecer:hover{
    color: var(--main-red);
    box-shadow: 2px 2px 0 var(--main-red);
    background: transparent;
    transition: .2s;
}


.container-banners .box-banner .box-movie .image{
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    overflow-x: hidden;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, .6);
}
.container-banners .box-banner .box-movie .image img{
    height: 100%;
    margin: auto;
}




main{
    width: 100%;
}
section.filmes{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 35px;
}
section.filmes .container{
    width: 100%;
    margin: 0 auto;
}
.filmes .container .container-text-section h3{
    padding: 0 12px;
    font-size: 3.3rem;
    border-left: 4px solid var(--main-red);
    color: var(--title-color);
}
.filmes .container .container-text-section p{
    margin-left: 15px;
    margin-bottom: 17px;
    font-size: 1.55rem;
    font-weight: 500;
    color: var(--text-color);
}


/* .filmes .container .container-wrapper{
} */
.filmes .container .wrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.filmes .container .wrapper .container-films{
    padding-left: 20px;
    display: flex;
    gap: 24px;
    transition: .5s ease-in-out;
}

.filmes .container .wrapper button.left,
.filmes .container .wrapper button.right{
    width: 40px;
    padding: 0 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
}
.filmes .container .wrapper button.left{
    left: 0;
    cursor: pointer;
    background:  linear-gradient(to left, transparent 0%, black 108%);
}
.filmes .container .wrapper button.right{
    right: 0;
    cursor: pointer;
    background:  linear-gradient(to right, transparent 0%, black 108%);
}
.filmes .container .wrapper button.left i,
.filmes .container .wrapper button.right i{
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.5);
}



.container-films .box-film{
    width: 264px; height: 410px;
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 4px 10px rgb(0, 0, 0, .7);
    transition:  .2s;
}
.container-films .box-film:hover .center a{
    margin-bottom: 20px;
    transition:  .2s;
}
.container-films .box-film .content{
    width: 100%; height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0, .93) 18%, rgba(53,53,53, 0) 100%, rgba(255,255,255, 0) 100%);
}
.container-films .box-film .center{
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
}
.container-films .box-film .center div{
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container-films .box-film .center div span i.star{
    margin: 0 2px 0 12px;
    font-size: 1.87rem;
    color: #ffc800;
}
.container-films .box-film .center div span{
    margin-left: 3px;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}
.container-films .box-film .center h4{
    margin: 0 12px;
    margin-bottom: 18px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--title-color);
}
.container-films .box-film .center a{
    width: 87%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 4px 0;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.container-films .box-film .center a.avaliar{
    font-weight: 500;
    color: #0088ff;
    border: 3px solid #0088ff00;
    background: rgb(78, 78, 78, .5);
    box-shadow: 1px 1px 0 #0088ff;
    transition: .2s;
}
.container-films .box-film .center a.avaliar:hover{
    border: 3px solid #0088ff;
    background: transparent;
    transition: .2s;
}
.container-films .box-film .center a.conhecer{
    font-weight: 600;
    color: var(--bg-site);
    border: 3px solid var(--main-red);
    background: var(--main-red);
    box-shadow: 2px 2px 0 var(--bg-site);
    transition: .2s;
}
.container-films .box-film .center a.conhecer:hover{
    color: var(--main-red);
    box-shadow: 2px 2px 0 var(--main-red);
    background: transparent;
    transition: .2s;
}


@media (max-width: 955px) {
    .container-banners .box-banner .box-movie .container-infos h2{
        margin-top: 5px;
    }
    .container-banners .box-banner .box-movie .container-infos .box-info{
        padding: 4px 12px;
    }
    .container-banners .box-banner .box-movie .container-infos .box-info h4{
        font-size: 1.9rem;
    }
    .box-banner .box-movie .container-infos .box-info a{
        padding: 1px 8px;
        font-size: 1.7rem;
    }
    .container-films .box-film{
        width: 190px; height: 319px;
    }
    .filmes .container .wrapper .container-films{
        gap: 10px;
    }
}
@media (max-width: 670px) {
    section.banners{
        margin-bottom: 19px;
    }
    section.banners button.left i,
    section.banners  button.right i{
        font-size: 4rem;
    }
    .container-banners .box-banner .box-movie .container-infos{
        margin-right: 6px;
    }
    .container-banners .box-banner .box-movie .container-infos h2{
        margin-top: 12px;
        font-size: max(15px, 2vw);
    }
    .container-banners .box-banner .box-movie .container-infos .box-info{
        display: none;
    }
    .container-banners .box-banner .box-movie .container-infos h2{
        line-height: 106%;
    }
    .container-banners .box-banner .box-movie .image{
        margin-right: 20px;
        flex-shrink: 0;
    }



    section.filmes{
        width: 100%;
    }
    .filmes .container .container-text-section{
        margin-left: 7px;
    }
    .container-films .box-film{
        width: 140px; height: 240px;
    }
    .filmes .container .wrapper .container-films{
        gap: 6px;
    }
    .container-films .box-film .center div{
        margin-bottom: 4px;
    }
    .container-films .box-film .center div span{
        font-size: 1.45rem;
    }
    .container-films .box-film .center h4{
        margin: 0 4px;
        margin-bottom: 10px;
        font-size: 1.94rem;
    }
    .container-films .box-film .center a{
        margin-bottom: 10px;
        padding: 2px 0;
        font-size: 1.8rem;
    }
}
@media (max-width: 360px) {
    html{
        font-size: 43%;
    }
    section.banners{
        display: none;
    }
    main{
        margin-top: 20px;
    }
    .container-films .box-film{
        width: 140px; height: 250px;
    }
}