main{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}
main section.edit-movie{
    display: flex;
    justify-content: center;
    gap: 23px;
}
main .center{
    margin: 0;
}
.edit-movie .post{
    height: 500px;
    margin-top: 40px;
    border-radius: 7px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
    overflow: hidden;
}
.edit-movie .post img{
    height: 100%;
}
main .center p.success{
    padding: 5px;
    text-align: center;
    font-weight: 600;
    color: #24f027;
}
@media (max-width: 800px) {
    .edit-movie .post{
        display: none;
    }
}