main{
    width: 90%;
    min-width: 1115px;
    margin: 0 auto;
    margin-top: 20px;
}
main section.info-movie{
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
}
.info-movie .info{
    width: 57%;
}
.info-movie .info .info-top{
    margin-bottom: 30px;
}
.info-movie .info .info-top .title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: cente;
}
.info-movie .info .info-top h2{
    margin: 0 auto;
    margin-bottom: 21px;
    padding: 5px 10px;
    display: inline-block;
    font-size: 4rem;
    text-align: center;
    border-bottom: 3px solid var(--main-red);
    color: var(--title-color);
}
.info-movie .info .info-top .infos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7px;
}
.info-movie .info .info-top .infos div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-movie .info .info-top .infos div i.star{
    margin-left: 3px;
    font-size: 1.84rem;
    color: #ffc800;
}
.info-movie .info .info-top .infos h5{
    font-size: 1.67rem;
    font-weight: 500;
    color: var(--title-color);
}
.info-movie .info .info-top .infos span{
    margin-left: 7px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
}
.info-movie .info .info-bottom{
    width: 100%;
}
.info-movie .info .info-bottom .trailer{
    width: 100%;
    margin-bottom: 19px;
    padding-bottom: 56.25%;
    position: relative;
    border-radius: 3px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.911);
    overflow: hidden;
}
.info-movie .info .info-bottom .trailer p{
    margin-top: 15px;
    text-align: center;
}
.info-movie .info .info-bottom iframe{
    width: 100%; height: 100%;
    position: absolute;
    border: none;
}
.info-movie .info .info-bottom p{
    padding-right: 6px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
}



.info-movie .poster{
    width: 40%;
    max-width: 400px;
    border-radius: 7px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.911);
    overflow: hidden;
}
.info-movie .poster img{
    width: 100%;
}


section.assessments{
    width: 100%;
    padding: 3px;
}
section.assessments h3{
    margin-bottom: 5px;
    padding-left: 6px;
    font-size: 2.6rem;
    border-left: 4px solid var(--main-red);
    color: var(--title-color);
}
section.assessments p.subtitle{
    margin-left: 8px;
    margin-bottom: 26px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
}

section.assessments div.comments{
    max-width: 77%;
    margin-bottom: 100px;
}
form button.delete-review{
    margin-top: 3px;
    padding: 4px 6px;
    float: right;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 0 var(--bg-box);
    cursor: pointer;
    background: rgb(255, 40, 40);
}
section.assessments div.comments p.n{
    font-size: 1.8rem;
    color: var(--text-color);
}
section.assessments .comments .box-comment{
    margin-bottom: 27px;
}

section.assessments .box-comment .box-image-name-rating{
    margin-bottom: 7px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.assessments .box-comment .box-image-name-rating .profile-image{
    width: 50px; height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 30px auto; */
    border-radius: 100%;
    background: white;
    border: 2px solid var(--main-red);
    overflow: hidden
}
.assessments .box-comment .box-image-name-rating .profile-image img{
    width: 112%;
}
section.assessments .box-comment .box-image-name-rating .name-rating{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
section.assessments .box-comment .box-image-name-rating .name-rating a{
    margin-bottom: 5px;
    font-size: 1.9rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--main-red);
}
section.assessments .box-comment .box-image-name-rating .name-rating a:hover{
    text-decoration: underline;
}
section.assessments .box-comment .box-image-name-rating .name-rating div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
section.assessments .box-comment .box-image-name-rating .name-rating div i.star{
    margin-right: 4px;
    font-size: 1.6rem;
    color: #ffc800;
}
section.assessments .box-comment .box-image-name-rating .name-rating div span{
    margin-bottom: -2px;
    font-size: 1.56rem;
    font-weight: 500;
    color: var(--title-color);
}

.assessments .box-text-comment h5{
    margin-bottom: 6px;
    margin-left: 55px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.assessments .box-text-comment p{
    margin-left: 56px;
    font-size: 1.6rem;
    color: var(--title-color);
}



.assessments .add-review{
    width: 50%;
    min-width: 450px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 35px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.808);
    background: var(--bg-box);
}
.assessments .add-review form div{
    margin-bottom: 19px;
    display: flex;
    flex-direction: column;
}
.assessments .add-review form label{
    margin-bottom: 8px;
    font-size: 1.9rem;
    font-weight: 500;
    color: var(--title-color);
}
.assessments .add-review form select{
    width: 250px; height: 30px;
    padding: 0 40px 0 5px;
    display: block;
    font-size: 1.56rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #1c1c1c;
    box-shadow: 2px 2px 0 var(--bg-site);
    outline: none;
}
.assessments .add-review form select option{
    padding: 40px 5px;
    font-weight: 500;
    color: black;
}
.assessments .add-review form textarea{
    width: 100%;
    max-width: 550px;
    padding: 7px;
    font-size: 1.56rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 0 var(--bg-box);
    resize: vertical;
    box-shadow: 2px 2px 0 var(--bg-site);
    outline: none;
}
.assessments .add-review form p.error{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    color: rgb(255, 40, 40);
}
.assessments .add-review form button{
    margin-top: 8px;
    padding: 10px 14px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: black;
    border: 2px solid var(--main-red);
    background: var(--main-red);
    transition: .2s;
}
.assessments .add-review form button:hover{
    background: transparent;
    color: var(--main-red);
    transition: .2s;
}
@media (max-width: 1145px) {
    main{
        min-width: 98%;
    }
    main section.info-movie{
        /* flex-direction: column; */
        align-items: flex-start;
        gap: 10px;
    }
    .info-movie .info .info-top .infos div{
        flex-direction: column;
    }
    /* .info-movie .info .info-bottom .trailer{
        display: none;
    } */
}
@media (max-width: 690px) {
    main section.info-movie {
        margin-bottom: 25px;
    }
    .info-movie .info{
        width: 100%;
        margin: 0 auto;
    }
    .info-movie .info .info-top{
        margin-bottom: 15px;
    }
    .info-movie .poster{
        width: 80%;
        margin: 0 auto;
        display: none;
    }
    .info-movie .info .info-bottom .trailer{
        width: 94%;
        margin: 0 auto;
        margin-bottom: 7px;
    }
    .info-movie .info .info-bottom p {
        padding: 5px;
    }

    main section.info-movie{
        flex-direction: column;
    }
    .assessments .box-comment .box-image-name-rating .profile-image{
        width: 40px; height: 40px;
    }
    section.assessments .box-comment .box-image-name-rating{
        margin-bottom: 4px;
        gap: 5px;
    }
    section.assessments div.comments{
        max-width: 100%;
    }
    .assessments .box-text-comment h5{
        margin-bottom: 3px;
        margin-left: 40px;
    }
    
    .assessments .box-text-comment p{
        margin-left: 43px;
        font-size: 1.6rem;
        color: var(--title-color);
    }
    .assessments .add-review{
        width: 100%;
        min-width: 100%;
        margin-top: 15px;
        padding: 7px;
    }

}